body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #D4D3C1;
}


.liStyle{
    list-style: none;
}

.remove_button{
    border: none;
    background-color: transparent;
    font-size: 10px;
    color:white;
}

.section {
    background-color: #A6545C;
    display: flex;
    padding:20px;
    justify-content: center;
    margin: 5px;
    border:none;
    color:white;
    font-weight: bold;
}

.liStyle {
    margin-right: 20px;
    margin-left:20px;
    font-size: 25px;
}

.checkbox {
    margin-right: 16px;
    height:40px;
}

.input_box{
    margin:20px;
}

.listTitles {
    font-size: 35px;
    color:#E3A58B;
    font-weight: bold;
}

.entireCard {
    border:none;
    background-color: #D4D3C1;
}

.title {
    margin-top: 20px;
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
}

.mainCard {
    border:none;
    background-color: #36243D;
}

.myButton{
    background-color: #36243D;
    color:white;
}